{% extends 'magic/base.html' %}
{% block title %} Cards for sale  {% endblock %}
{% block body %}
    {% if all_cards %}
        <h1 class="basic-text cards-header">Cards for sale</h1>
        <table id="card-table">
            <tr>
                <th><span class="glyphicon glyphicon-camera"></span></th>
                <th>Card Name</th>
                <th>Seller</th>
                <th>Price</th>
            </tr>
            {% for card in cards %}
            
                <tr>
                    <td class="img-td">
                        <span class="glyphicon glyphicon-camera"></span>
                        <img src="#" class="img-responsive  card-img-td" width="30%">
                    </td>
                    <td>
                        <a class="card-td-link" href="{% url 'Magic:card_detail' card.id %}">{{card.name}}</a>
                        {% if card.is_foil %}
                            <span class="glyphicon glyphicon-star"></span>
                        {% endif %}
                    </td>
                    <td class="seller-td">
                        <a class="user-td-link" href="{% url 'Magic:user_detail' card.user.id %}">{{card.user}}</a>
                    </td>
                    <td class="price-td">
                        ${{card.price}}
                        <a href="{% url 'Magic:add_to_cart' card.id %}" >
                            <button type="submit" class="btn btn-default btn-sm btn-cart">
                                <span class="glyphicon glyphicon-shopping-cart"></span>
                            </button>
                        </a>
                    </td>
                </tr>
            
            {% endfor %}
        </table>
        <div class="center">
            {% if cards.has_other_pages %}
                <ul class="pagination">
                    {% if cards.has_previous %}
                        <li><a href="?page={{ cards.previous_page_number }}">&laquo;</a></li>
                    {% endif %}
                    {% for i in cards.paginator.page_range %}
                        {% if cards.number == i %}
                            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if cards.has_next %}
                        <li><a href="?page={{ cards.next_page_number }}">&raquo;</a></li>
                    {% else %}
                        <!-- <li class="disabled"><span>&raquo;</span></li> -->
                    {% endif %}
                </ul>
            {% endif %}
        </div>
    {% else %}
            <h3 class="basic-text">No cards available for sale</h3>
    {% endif %}
    
{% endblock %}
