{% extends 'magic/base.html' %}

{% block body %}
    <h5 class="basic-text"><a href="{% url 'Magic:cards' %}">Back to Cards</a></h5>
    <h2 class="basic-text">Card Details</h2>

    <img src="#" class="img-responsive" width="30%">
    <h3 class="basic-text">Name: {{card.name}} </h3>
    <h3 class="basic-text">Set: {{card.set_name}} </h3>
    <h3 class="basic-text">Price: {{card.price}} </h3>
    <h3 class="basic-text">Foil:
        {% if card.is_foil %}
            <span class="glyphicon glyphicon-star">Yes</span>
        {% else %}
            No
        {% endif %}
    </h3>


    <h4 class="basic-text">Seller: <a href="{% url 'Magic:user_detail' card.user.id %}">{{card.user}}</a> </h3>
    <form action="{% url 'Magic:card_update' card.id %}" method="POST" style="display: inline;">
        {% csrf_token %}
        <input type="hidden" name="card_id" value="{{card.id}}"/>
        <button class="btn btn-default btn-sm" type="submit">
            <span class="glyphicon glyphicon-edit">
                Edit
            </span>
        </button>
    </form>
    <form action="{% url 'Magic:card_delete' card.id %}" method="POST" style="display: inline;">
        {% csrf_token %}
        <input type="hidden" name="card_id" value="{{card.id}}"/>
        <button class="btn btn-default btn-sm" type="submit">
            <span class="glyphicon glyphicon-trash">
                Delete
            </span>
        </button>
    </form>
{% endblock %}