{% extends 'magic/base.html' %}
{% block title %} Magic Card Trader {% endblock %}
{% block body %}
   
<h3 class="pt-4 pb-4 pl-4">Cards You might like</h3>
<div class="container mb-6">
    <div class="columns is-mobile is-desktop">
        {% for rnd in random_cards %}
        <div class="column">
            <div class="card" style="width: 18rem;">
                <img src="{% if rnd.image_url %} {{ rnd.image_url }} {% else %} http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=409741&type=card {% endif %}" class="card-img-top" alt="...">
                 
<!--                  <img src="{{ rnd.get_imge_url }}" alt="nt" class="card-img-top"> -->
                <div class="card-body">
                    <h5 class="card-title">{{ rnd.name }}</h5>
                    <p class="card-text">Set: {{ rnd.set_name }} <br>
                        Seller: {{ rnd.user }} <br>
                        price: {{ rnd.price }} <br>
                        Foil: 
                        {% if rnd.is_foil %}
                        <span>
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                </svg>
                            </span>
                            {% else %}
                            <span>
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                                </svg>
                            </span>
                            
                            {% endif %}
                        </p>
                        Would you like to buy this card?
                    <a href="{% url 'Magic:add_to_cart' rnd.id %}" class="btn btn-primary">Add to cart</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<h3 class="pt-6 mt-6 pb-4 pl-4">Trending users</h3>
<div class="container">
    <div class="columns is-desktop is-mobile">
          {% if random_users %}
            {% for user in random_users %}
            <div class="column">
                <div class="card" style="width: 18rem;">
                    <img src="{{ user.profile.user_photo.url }}" class="card-img-top" height="80px" alt="user photo">
                    <div class="card-body">
                        <h5 class="card-title">{{ user.username }}</h5>
                        <p class="card-text">Available cards: {{ user.card_set.count }}</p>
                            Check seller's cards
                            <a href="{% url 'Magic:user_detail' user.id %}}" class="btn btn-primary">See Profile</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
        <p>No users registered in the past few weeks</p>
        {% endif %}
    </div>
</div>
{% endblock %}