{% extends 'magic/base.html' %}
{% block title %} Users {% endblock %}
{% block body %}

<div class=""> <!--class="row"-->
    {% if all_users %}
    <h1 class="basic-text">Users</h2>
        <table id="user-table">
            <tr>
                <th><h2><span class="glyphicon glyphicon-user"></span></h2></th>
                <th>
                    <big> Name</big>
                    <a href="?order_by=username&direction=asc">
                        <span class="glyphicon glyphicon-chevron-up"></span>
                    </a>
                    <a href="?order_by=username&direction=desc">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                    
                </th>
                <th>
                    Available Cards
                    <a href="?order_by={{ user.card_set.count }}&direction=desc">
                        <span class="glyphicon glyphicon-chevron-up"></span>
                    </a>
                    <a href="?order_by={{ user.card_set.count }}t&direction=asc">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                </th>
            </tr>
            {% for user in users %}
            <tr>
                <!--user profile image-->
                <td class="img-td user-img-td">
                    <a href="#"
                        onmouseover="document.getElementById('place-holder-1').src='{{ user.profile.user_photo.url }}';"
                        onmouseout="document.getElementById('place-holder-1').src='';">
                            <span class="glyphicon glyphicon-camera" id="span"></span>
                            <img src="" class="img-responsive" id="place-holder-1" style="z-index: 50; position: absolute; width: 5%;" />
                    </a>
                </td>                  
                <td class="user-td">
                    <h3><b><a class="user-td-link" href="{% url 'Magic:user_detail' user.id %}">{{user.get_username}}</a></b></h3>
                </td>
                <td>
                    Available Cards: {{user.card_set.count}}
                </td>
            </tr>
            {% endfor %}
        </table>
        <nav aria-label="Page navigation">
            {% if users.has_other_pages %}
                <ul class="pagination justify-content-center">
                    {% if users.has_previous %}
                        <li class="page-item"><a href="?page={{ users.previous_page_number }}&order_by={{ order_by }}&direction={{ direction }}" class="page-link">&laquo;</a></li>
                    {% endif %}
                    {% for i in users.paginator.page_range %}
                        {% if users.number == i %}
                            <li class="page-item active" aria-current="page"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                            <li class="page-item"><a href="?page={{ i }}&order_by={{ order_by }}&direction={{ direction }}" class="page-link">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if users.has_next %}
                        <li class="page-item"><a href="?page={{ users.next_page_number }}&order_by={{ order_by }}&direction={{ direction }}" class="page-link">&raquo;</a></li>
                    {% else %}
                        <!-- <li class="disabled"><span>&raquo;</span></li> -->
                    {% endif %}
                </ul>
            {% endif %}
        </nav>
    {% else %}
        <h4 class="basic-text">No users registered yet. Click <a href="{% url 'register' %}">here</a> to register</h4>
    {% endif %}

</div>
    
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript" nonce="">
    onmouseover="document.getElementById('place-holder-1').src='';"
    onmouseout="document.getElementById('place-holder-1').src='/theme/img/linkpeek-transparent-pixel-placeholder.png';"
</script>
{% endblock extra_scripts %}