{% extends 'magic/base.html' %}

{% block body %}

    <h5 class="basic-text"><a href="{% url 'Magic:users' %}">Back to all users</a></h5>
    <h2 class="basic-text">User Details</h2>

    <div class="content-box">
        <div class="media-body">
            <div class="panel-body">
                <img class="img-rounded img-responsive" src="{{ user.profile.user_photo.url }}" width=200px>
                <h2 class="account-heading basic-text">Name: {{ user.get_username }} </h2>
                <p class="text-secondary basic-text">Email: {{ user.email }} </p>
                {% if user.profile.address != None %}
                    <p class="text-secondary basic-text">
                        Address: <div class="text-secondary basic-text" style="padding-left:5em">
                            Street: {{ user.profile.address.street_address }} <br>
                            Apartment No.: {{ user.profile.address.apartment_number }} <br>
                            Country: {{ user.profile.address.country }} <br>
                            Zip Code: {{ user.profile.address.zip_code }} <br>


                        </div> </p>
                {% else %}
                    <p class="text-secondary basic-text">Address: No address set</p>
                {% endif %}
                <p class="small basic-text">Member since: {{ user.profile.date_registered | date:"M d, Y" }}</p>
                <p class="text-secondary basic-text">Available Cards: {{ user.card_set.count }} </p>
                <ul>
                    {% for card in user.card_set.all %}
                    <li class="basic-text">
                        <a href="{% url 'Magic:card_detail' card.id %}" >{{ card.name }}</a>
                        - Price: ${{card.price}}
                        {% if card.is_foil %}
                           | <span class="glyphicon glyphicon-star"> Foil</span>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}