{% extends 'magic/base.html' %}
{% block title %} Users {% endblock %}
{% block body %}

<div class=""> <!--class="row"-->
    {% if all_users %}
    <h1 class="basic-text">Users</h2>
            {% for user in all_users %}
            <div class="col-sm-4 col-lg-2">
                <!--user profile image-->
                <a href="{% url 'Magic:user_detail' user.id %}">
                    <img src="{{ user.profile.user_photo.url }}" class="img-responsive" width=50%>
                </a>
                <div class="caption">
                    <h2 class="basic-text"><a href="{% url 'Magic:user_detail' user.id %}">{{user.get_username}}</a></h2>
                    <h4 class="basic-text">Available Cards: {{user.card_set.count}}</h4>
                </div>
            </div>
            {% endfor %}
    {% else %}
        <h4 class="basic-text">No users registered yet. Click <a href="{% url 'register' %}">here</a> to register</h4>
    {% endif %}

</div>
    
{% endblock %}