{% extends "magic/base.html" %}
{% load crispy_forms_tags %}

{% block body %}

  <main >
    <div class="container wow fadeIn">
      <h2 class="my-5 h2 text-center basic-text">Checkout form</h2>
      <h3 class="basic-text">Shipping address</h3>
      <div class="row">
        <div class="col-md-8 mb-4">
          <div class="card basic-text">
            <form method="POST" class="card-body form-horizontal" enctype="multipart/form-data">
              {% csrf_token %}
              <fieldset>
                <legend class="border-bottom mb-4">
                    Checkout
                </legend>
                {{ form|crispy }}
              </fieldset>
              <!-- h3 class="basic-text">Shipping address</h3>

              <div class='hideable_shipping_form'>

                <div class="md-form mb-5">
                  <label for="shipping_address" class="basic-text">Address</label>
                  {{ form.street_address }}
                </div>

                <div class="md-form mb-5">
                  <label for="shipping_address2" class="">Apartment Number</label>
                  {{ form.apartment_number }}
                </div>

                <div class="row">
                  <div class="col-lg-4 col-md-12 mb-4">
                    <label for="country">Country</label>
                    {{ form.country }}
                  </div>
                  <div class="col-lg-4 col-md-6 mb-4">
                    <label for="shipping_zip">Zip</label>
                    {{ form.zip_code }}
                  </div>
                </div>
              </div>
              <hr>
              <h3>Payment option</h3>
              <div class="d-block my-3">
                {% for value, name in form.fields.payment_options.choices %}
                <div class="custom-control custom-radio">
                  <input id="{{ name }}" name="payment_options" value="{{ value }}" type="radio" class="custom-control-input" required>
                  <label class="custom-control-label" for="{{ name }}">{{ name }}</label>
                </div>
                {% endfor %}
              </div> -->

              <hr class="mb-4">
              <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>

            </form>

          </div>

        </div>

        <div class="col-md-4 mb-4">
          <!-- include "order_snippet.html" -->
        </div>

      </div>

    </div>
  </main>

{% endblock %}

{% block extra_scripts %}
<script>
var hideable_shipping_form = $('.hideable_shipping_form');
var hideable_billing_form = $('.hideable_billing_form');

var use_default_shipping = document.querySelector("input[name=use_default_shipping]");
var use_default_billing = document.querySelector("input[name=use_default_billing]");

use_default_shipping.addEventListener('change', function() {
  if (this.checked) {
    hideable_shipping_form.hide();
  } else {
    hideable_shipping_form.show();
  }
})

use_default_billing.addEventListener('change', function() {
  if (this.checked) {
    hideable_billing_form.hide();
  } else {
    hideable_billing_form.show();
  }
})

</script>
{% endblock extra_scripts %}

<!-- extend

blockbody

<table id="card-table">
<tr>
  <td><h4>Order Summary</h4></td>
</tr>


    {% for item in order.get_cart_items %}
    <tr>
      <td>{{ item }}</td>
      <td>{{ item.card.price }}</td>
    </tr>
    {% endfor %}


<tr>
  <td><strong>Order Total</strong></td>
  <td><strong>{{ order.get_cart_total }}</strong></td>
</tr>
</table>
<form action="{% url 'Magic:process_payment' order.id %}" method="POST">
  {% csrf_token %}
  <button class="btn btn-warning btn-sm">Pay with card</button>
</form>
<form action="{% url 'Magic:process_payment' order.id %}" method="POST">
  {% csrf_token %}
  <button class="btn btn-primary btn-sm">Pay with PayPal</button>
</form>
endblock