{% extends "magic/base.html" %}
{% load crispy_forms_tags %}

{% block body %}

  <main >
    <div class="container wow fadeIn">
      <h2 class="mt-4 h2 text-center basic-text">Checkout form</h2>
      <div class="row" style="display: block; text-align: center;">
          <div class="card basic-text">
            <form method="POST" class="card-body form-horizontal" enctype="multipart/form-data" style="display: inline-block; text-align: left;">
              {% csrf_token %}
              <fieldset>
                <legend class="border-bottom mb-4">
                    Checkout
                </legend>
                {{ form|crispy }}
              </fieldset>


              <hr class="mb-4">
              <button class="btn btn-primary btn-lg btn-block mb-2" type="submit">Continue to checkout</button>
              <p class="small">*Please fill out this form to proceed!</p>

            </form>

          </div>


        <div class="col-md-4 mb-4">
          <!-- include "order_snippet.html" -->
        </div>

      </div>

    </div>
  </main>

{% endblock %}

{% block extra_scripts %}
<script>
var hideable_shipping_form = $('.hideable_shipping_form');
var hideable_billing_form = $('.hideable_billing_form');

var use_default_shipping = document.querySelector("input[name=use_default_shipping]");
var use_default_billing = document.querySelector("input[name=use_default_billing]");

use_default_shipping.addEventListener('change', function() {
  if (this.checked) {
    hideable_shipping_form.hide();
  } else {
    hideable_shipping_form.show();
  }
})

use_default_billing.addEventListener('change', function() {
  if (this.checked) {
    hideable_billing_form.hide();
  } else {
    hideable_billing_form.show();
  }
})

</script>
{% endblock extra_scripts %}