{% extends 'magic/base.html' %}
{% load crispy_forms_tags %}
{% block title %} Profile {% endblock %}

{% block body %}
<div class="card">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a href="{% url 'Magic:profile' %}" class="nav-link {% if nbar == 'profile' %} active {% endif %}">Profile</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'Magic:profile_cards' %}" class="nav-link {% if nbar == 'profile_cards' %} active {% endif %}">My Cards</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'Magic:profile_purchases' %}" class="nav-link {% if nbar == 'profile_purchases' %} active {% endif %}">My Purchases</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-8">
                <div class="card-body">
                    <p class="text-secondary basic-text">Previous Orders: {{ user.profile.order_set.count }} </p>
                    <ul>
                        {% for order in user.profile.order_set.all %}
                        <li class="basic-text">
                            {{ order }} - {{ order.date_ordered }}
                            
                        </li>
                        {% endfor %}
                    </ul>
                    <a href="{% url 'Magic:card_add' %}">
                        <button class="btn btn-warning">
                            <small>Add card</small>
                        </button>
                    </a>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>

{% endblock %}