{% extends 'magic/base.html' %}

{% block title %} Direct Messages {% endblock %}

{% block body %}

<section class="section">
    <div class="columns is-mobile ">
        <div class="column is-one-quarter">
            <aside class="menu basic-text">
                <p class="menu-label">
                    <h1 class="title is-2 basic-text">Messages</h1>
                </p>
                <ul style="overflow-y: scroll; height: 450px" class="menu-list">
                    {% for message in d_messages %}
                        {% if message.user.username != request.user.username %}
                            <a class="{% if active_direct == message.user.username %}active{% endif %}" href="{% url 'Magic:directs' message.user.username %}">
                                <div class="box" style="height: 100px;">
                                    <article class="media">
                                        <div class="media-left">
                                            <figure class="image is-32x32">
                                                <img src="{{ message.user.profile.user_photo.url }}" alt="Profile image" height="80px">
                                            </figure>
                                        </div>
                                        <div class="media-content">
                                            <div class="content">
                                                <p>
                                                    {% if message.is_read == True %}
                                                        {{ message.user.username }}
                                                    {% else %}
                                                        <strong>{{ message.user.username }}</strong>
                                                    {% endif %}
                                                </p>
                                            </div>
                                            <div class="content">
                                                {% if message.unread %}
                                                    <p style="font-weight: bold;">
                                                        <span>
                                                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-envelope-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                                <path fill-rule="evenodd" d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
                                                            </svg>
                                                        </span>
                                                        {{ message.unread }}
                                                    </p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </a>
                        {% endif %}
                    {% endfor %}
                </ul>
            </aside>
        </div>
        <div style="overflow-y: scroll; height: 600px;" class="column">
            {% if d_messages %}
                {% for direct in directs %}
                    <div class="box" style="{% if direct.from_user == request.user %} background-color: lightblue; {% endif %}">
                        <article class="media">
                        <div class="media-left">
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>{{ direct.from_user }}</strong> - <small>{{ direct.date|date:'N d G:i' }}</small>
                                    </p>
                                    {{ direct.content }}
                                </div>
                            </div>
                        </div>
                        </article>
                </div>  
                {% endfor %}

            
            {% else %}
                <h1>You have no messages sent or received yet</h1>
            {% endif %}
        </div>
        
    </div>
    {% if d_messages %}
        {% if directs %}
            <form role="form" method="POST" action="{% url 'Magic:send' %}">
                {% csrf_token %}
                <article class="media mr-7 ml-7">
                    <div class="media-content">
                        <input type="hidden" name="to_user" value="{{ active_direct }}">
                        <div class="field">
                            <p class="control">
                                <textarea class="textarea" name="content" placeholder="Send message..."></textarea>
                            </p>
                        </div>
                        <nav class="level">
                            <div class="level-left">
                                <div class="level-item">
                                    <button type="submit" name="action" class="button is-info">Send</button>
                                </div>
                            </div>
                        </nav>
                    </div>
                </article>
            </form>
        {% endif %}
    {% endif %}
</section>


{% endblock %}
